@font-face {
	font-family: 'Raleway';
	src:url('../fonts/Raleway-Bold.ttf');
}
@font-face {
	font-family: 'Raleway';
	src:url('../fonts/Raleway-Light.ttf');
}
.fl{ float:left; }
.fr{ float:right; }
.np{ padding: 0px;}
.logo_portfolio code{
	background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 0 / 250px auto;
    height: 62px;
    margin: 20px 0 0;
    position: absolute;
    width: 300px;
}
.header_content {
    height: 100px;
    width: 100%;
}
.header_menu {
    margin: 40px 0 0;
}
.header_area ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.header_area li {
    float: left;
}
.header_menu a {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    padding: 0 40px 0 25px;
    text-decoration: none;
}
.port_bg code {
    background: rgba(0, 0, 0, 0) url("../images/portfolio_background.png") no-repeat scroll 0 0 / cover ;
    border-radius: 0;
    height: 700px;
    left: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background-size: contain;
}
.port_bg{
	height: 573px;
	width: 100%
}
.down_icon {
    color: #000;
    cursor: pointer;
    font-size: 40px;
    left: 49.3%;
    position: absolute;
    top: 94%;
}
.featured_title {
    padding: 90px 0 60px;
}
.featured_title h1 {
    color: #111111;
    font-family: Raleway;
    font-size: 42px;
    text-align: center;
}
.featured_title h5 {
    color: #111111;
    font-family: Raleway;
    font-size: 14px;
    text-align: center;
}
.product_img1 code {
    background: rgba(0, 0, 0, 0) url("../images/product_img1.png") no-repeat scroll 0 0 / 100% auto;
    height: 242px;
    position: absolute;
    width: 260px;
    cursor: pointer;
}
@media (min-width:789px){
	.product_img1 code {
	    background: rgba(0, 0, 0, 0) url("../images/product_img1.png") no-repeat scroll 0 0 / 100% auto;
	    height: 370px;
	    position: absolute;
	    width: 400px;
	    cursor: pointer;
	}
}
.product_img2 code {
    background: rgba(0, 0, 0, 0) url("../images/product_img2.png") no-repeat scroll 0 0 / 100% auto;
    height: 242px;
    position: absolute;
    width: 260px;
    cursor: pointer;
}
@media (min-width:789px){
	.product_img2 code {
	    background: rgba(0, 0, 0, 0) url("../images/product_img2.png") no-repeat scroll 0 0 / 100% auto;
	    height: 370px;
	    position: absolute;
	    width: 400px;
	    cursor: pointer;
	}
}
.product_img3 code {
    background: rgba(0, 0, 0, 0) url("../images/product_img3.png") no-repeat scroll 0 0 / 100% auto;
    height: 242px;
    position: absolute;
    width: 260px;
    cursor: pointer;
}
@media (min-width:789px){
	.product_img3 code {
	    background: rgba(0, 0, 0, 0) url("../images/product_img3.png") no-repeat scroll 0 0 / 100% auto;
	    height: 370px;
	    position: absolute;
	    width: 400px;
	    cursor: pointer;
	}
}
.product_img4 code {
    background: rgba(0, 0, 0, 0) url("../images/product_img4.png") no-repeat scroll 0 0 / 100% auto;
    height: 242px;
    position: absolute;
    width: 260px;
    cursor: pointer;
}
@media (min-width:789px){
	.product_img4 code {
	    background: rgba(0, 0, 0, 0) url("../images/product_img4.png") no-repeat scroll 0 0 / 100% auto;
	    height: 370px;
	    position: absolute;
	    width: 400px;
	    cursor: pointer;
	}
}
.product_img5 code {
    background: rgba(0, 0, 0, 0) url("../images/product_img5.png") no-repeat scroll 0 0 / 100% auto;
    height: 242px;
    position: absolute;
    width: 260px;
    cursor: pointer;
}
@media (min-width:789px){
	.product_img5 code {
	    background: rgba(0, 0, 0, 0) url("../images/product_img5.png") no-repeat scroll 0 0 / 100% auto;
	    height: 370px;
	    position: absolute;
	    width: 400px;
	    cursor: pointer;
	}
}
.product_img6 code {
    background: rgba(0, 0, 0, 0) url("../images/product_img6.png") no-repeat scroll 0 0 / 100% auto;
    height: 242px;
    position: absolute;
    width: 260px;
    cursor: pointer;
}
@media (min-width:789px){
	.product_img6 code {
	    background: rgba(0, 0, 0, 0) url("../images/product_img6.png") no-repeat scroll 0 0 / 100% auto;
	    height: 370px;
	    position: absolute;
	    width: 400px;
	    cursor: pointer;
	}
}
.product_img1_hover,.product_img2_hover,.product_img3_hover,.product_img4_hover,.product_img5_hover,.product_img6_hover{
    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
    cursor: pointer;
    display: none;
    height: 242px;
    padding: 60px 0;
    position: absolute;
    text-align: center;
    width: 260px;
}
@media (min-width:789px){
	.product_img1_hover,.product_img2_hover,.product_img3_hover,.product_img4_hover,.product_img5_hover,.product_img6_hover{
	    background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
	    height: 370px;
	    position: absolute;
	    width: 400px;
	    display: none;
	    cursor: pointer;
	    padding: 90px 0;
	    text-align :center;
	}

}
.product_img1:hover .product_img1_hover{
	display: block;
}
.product_img2:hover .product_img2_hover{
	display: block;
}
.product_img3:hover .product_img3_hover{
	display: block;
}
.product_img4:hover .product_img4_hover{
	display: block;
}
.product_img5:hover .product_img5_hover{
	display: block;
}
.product_img6:hover .product_img6_hover{
	display: block;
}
.product_img1_hover h4,.product_img2_hover h4,.product_img3_hover h4,.product_img4_hover h4,.product_img5_hover h4,.product_img6_hover h4 {
    color: #111111;
    font-family: Raleway;
    font-size: 30px;
    font-weight: bold;
}
.product_img1_hover h2,.product_img2_hover h2,.product_img3_hover h2,.product_img4_hover h2,.product_img5_hover h2,.product_img6_hover h2 {
    background: #000 none repeat scroll 0 0;
    height: 23px;
    left: 20px;
    margin: 0;
    position: absolute;
    width: 43px;
}
@media (min-width:789px){
	.product_img1_hover h2,.product_img2_hover h2,.product_img3_hover h2,.product_img4_hover h2,.product_img5_hover h2,.product_img6_hover h2 {
	    background: #000 none repeat scroll 0 0;
	    height: 23px;
	    left: 90px;
	    margin: 0;
	    position: absolute;
	    width: 43px;
	}
}



 

.product_img1_hover > h5,.product_img2_hover > h5,.product_img3_hover > h5,.product_img4_hover > h5,.product_img5_hover > h5,.product_img6_hover > h5 {
    color: #111111;
    float: left;
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    left: 70px;
    margin: 0;
    position: absolute;
}
@media (min-width:789px){
	.product_img1_hover > h5,.product_img2_hover > h5,.product_img3_hover > h5,.product_img4_hover > h5,.product_img5_hover > h5,.product_img6_hover > h5 {
	    color: #111111;
	    float: left;
	    font-family: Raleway;
	    font-size: 20px;
	    font-weight: bold;
	    left: 145px;
	    margin: 0;
	    position: absolute;
	}
}
.product_img1, .product_img2, .product_img3, .product_img4, .product_img5, .product_img6 {
    height: 280px;
}
@media (min-width:789px){
	.product_img1, .product_img2, .product_img3, .product_img4, .product_img5, .product_img6 {
    	height: 430px;
	}
}
.footer_bg {
    height: 145px;
}
.footer_bg code{
	background: rgba(0, 0, 0, 0) url("../images/footer_img.png") no-repeat scroll 0 0 / cover ;
    border-radius: 0;
    height: 145px;
    left: 0;
    position: absolute;
    width: 100%;
}
.social_links {
    left: 25%;
    position: absolute;
    top: 0;
}
.social_links > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.social_links li {
    float: left;
    text-align: center;
    width: 75px;
}
@media (min-width:789px){
	.social_links li {
	    float: left;
	    text-align: center;
	    width: 260px;
	}
}
.social_links a {
    display: block;
    padding: 40px 0;
}
.social_links i {
    color: #fff;
    font-size: 40px;
}
@media (min-width:789px){
	.social_links i {
	    color: #fff;
	    font-size: 70px;
	}
}
.copyright {
    background: #151515 none repeat scroll 0 0;
    border-top: 2px solid #aeaeae;
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    text-align: center;
    height: 35px;
    line-height: 2;
}
.popup_box_thozha,.popup_box_events,.popup_box_happi,.popup_box_zero,.popup_box_synclio,.popup_box_wct {
    height: auto;
    left: 0;
    padding: 0;
    top: 0px;
    z-index: 9999;
    position: fixed;
    display: none;
    overflow: auto;
}
.first_part_thozha,.first_part_events,.first_part_happi,.first_part_zero,.first_part_synclio,.first_part_wct {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    height: 862px;
}
.first_part_thozha code {
    background: rgba(0, 0, 0, 0) url("../images/popup_thozha.png") no-repeat scroll 0 0 / cover ;
    height: 302px;
    left: 98px;
    position: absolute;
    top: 30%;
    width: 500px;
    background-size: contain;
}
.second_part {
    background: #fff none repeat scroll 0 0;
    height: 862px;
}
.popup_close code{
	background: rgba(0, 0, 0, 0) url("../images/close_btn.png") no-repeat scroll 0 0 / 100% auto;
    height: 30px;
    /*left: 60px;*/
    right: 85%;
    position: absolute;
    top: 20px;
    width: 30px;
    cursor: pointer;
}
.popup_details {
    padding: 92px 30px 0;
}
.popup_title h2 {
    color: #000;
    font-family: Raleway;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.8;
}
.popup_title > h5 {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8;
}
.popup_content p {
    color: #000;
    font-family: Raleway;
    line-height: 2;
    text-align: justify;
    padding: 0 12px 38px 0;
}
.popup_content ul {
    color: #000;
    font-family: Raleway;
    font-size: 14px;
}
.content_popup_bold {
    font-weight: bold;
}
.first_part_events code {
    background: rgba(0, 0, 0, 0) url("../images/popup_events.png") no-repeat scroll 0 0 / 90% auto;
    height: 302px;
    left: 73px;
    position: absolute;
    top: 30%;
    width: 530px;
    background-size: contain;
}
.first_part_happi code {
    background: rgba(0, 0, 0, 0) url("../images/popup_happi.png") no-repeat scroll 0 0 / cover ;
    height: 302px;
    left: 150px;
    position: absolute;
    top: 30%;
    width: 500px;
    background-size: contain;
}
.first_part_zero code {
    background: rgba(0, 0, 0, 0) url("../images/popup_zero.png") no-repeat scroll 0 0 / cover ;
    height: 302px;
    left: 150px;
    position: absolute;
    top: 30%;
    width: 500px;
    background-size: contain;
}
.first_part_synclio code {
    background: rgba(0, 0, 0, 0) url("../images/popup_synclio.jpg") no-repeat scroll 0 0 / cover ;
    height: 302px;
    left: 220px;
    position: absolute;
    top: 30%;
    width: 290px;
    background-size: contain;
}
.first_part_wct code {
    background: rgba(0, 0, 0, 0) url("../images/popup_wct.png") no-repeat scroll 0 0 / 100% auto;
    height: 302px;
    left: 195px;
    position: absolute;
    top: 30%;
    width: 350px;
    background-size: contain;
}
.visit_page > a {
    color: #000;
    display: block;
    font-family: Raleway;
    font-size: 16px;
    line-height: 2;
    text-align: center;
}
.visit_page {
    border: 1px solid #000;
    height: 34px;
    width: 145px;
}



@media (max-width:789px){
   
.first_part_thozha, .first_part_events, .first_part_happi, .first_part_zero, .first_part_synclio, .first_part_wct {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    height: 210px;
}
.second_part {
    background: #fff none repeat scroll 0 0;
    height: auto;
    /*overflow: auto;*/
    /*background-color: red;*/
}
.popup_details {
    padding: 15px 2px 0;
}
.popup_close code {
    background: rgba(0, 0, 0, 0) url("../images/close_btn.png") no-repeat scroll 0 0 / 100% auto;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 35px;
    top: 20px;
    width: 18px;
}
.popup_content p {
    color: #000;
    font-family: Raleway;
    line-height: 2;
    padding: 0;
    text-align: justify;
}

/*First part images css*/
.first_part_events code {
    background: rgba(0, 0, 0, 0) url("../images/popup_events.png") no-repeat scroll 0 0 / 90% auto;
    height: 302px;
    left: 8px;
    position: absolute;
    top: 10%;
    width: 326px;
}
.first_part_happi code {
    background: rgba(0, 0, 0, 0) url("../images/popup_happi.png") no-repeat scroll 0 0 / cover ;
    height: 194px;
    left: 24px;
    position: absolute;
    top: 10%;
    width: 300px;
}
.first_part_thozha code {
    background: rgba(0, 0, 0, 0) url("../images/popup_thozha.png") no-repeat scroll 0 0 / 100% auto;
    height: 180px;
    left: 43px;
    position: absolute;
    top: 10%;
    width: 278px;
}
.first_part_zero code {
    background: rgba(0, 0, 0, 0) url("../images/popup_zero.png") no-repeat scroll 0 0 / cover ;
    height: 180px;
    left: 43px;
    position: absolute;
    top: 10%;
    width: 278px;
}
.first_part_synclio code {
    background: rgba(0, 0, 0, 0) url("../images/popup_synclio.jpg") no-repeat scroll 0 0 / cover ;
    height: 178px;
    left: 94px;
    position: absolute;
    top: 10%;
    width: 168px;
}
.first_part_wct code {
    background: rgba(0, 0, 0, 0) url("../images/popup_wct.png") no-repeat scroll 0 0 / 100% auto;
    height: 180px;
    position: absolute;
    top: 10%;
    left: 68px;
    width: 208px;
}
.popup_box_thozha,.popup_box_events,.popup_box_happi,.popup_box_zero,.popup_box_synclio,.popup_box_wct {
    height: 460px;
    left: 0;
    padding: 0;
    top: 60px;
    z-index: 9999;
    position: absolute;
    display: none;
}
.down_icon {
    color: #000;
    cursor: pointer;
    font-size: 31px;
    left: 47%;
    position: absolute;
    top: 90%;
}
.port_bg {
    height: 150px;
    width: 100%;
}
.port_bg code {
    background:url("../images/portfolio_background.png") no-repeat scroll 0 0 / contain ;
    border-radius: 0;
    height: 150px;
    left: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    background-size: cover;
}
.popup_box_thozha,.popup_box_events,.popup_box_happi,.popup_box_zero,.popup_box_synclio,.popup_box_wct {
    height: 352px;
    left: 0;
    padding: 0;
    z-index: 9999;
    position: fixed;
    display: none;
    overflow: auto;
    top: 14px;
}
}

/*Toggle option for mobile*/

.navbar-inverse {
    background-color: #fff !important;
    border-color: #fff !important;
}
.navbar{
	min-height: 80px;
}
.navbar-nav {
    margin: 30px 0 0;
    width: 100%;
}
@media (min-width:789px){
	.navbar-nav {
	    margin: 30px 0 0;
	    width: auto;
	}
}
.navbar-nav li {
    font-family: Raleway;
    font-size: 18px;
}
.navbar-nav a {
    color: #000 !important;
    text-align: center;
}
@media (min-width:789px){
	.navbar-nav a {
	    color: #000 !important;
	    text-align: center;
	}
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #fff !important;
}
.popup_content p {
    text-indent: 30px;
}
.happi_new_point {
    padding: 0px !important;
}
.happi_new {
    padding: 0 12px 2px 0 !important;
}
.wellocity_new {
    padding: 6px !important;
}
.featured_title h5 {
    line-height: 25px;
    padding: 0 90px;
}
@media (max-width: 768px) {
   .featured_title h5 {
        line-height: 25px;
        padding: 0;
}
}
.navbar-header button {
    background-color: gray;
}