@font-face {
	font-family: 'Raleway';
	src:url('../fonts/Raleway-Bold.ttf');
}
@font-face {
	font-family: 'Raleway';
	src:url('../fonts/Raleway-Light.ttf');
}
.fl{ float:left; }
.fr{ float:right; }
.np{ padding: 0px;}
a:hover{ text-decoration:none !important; }
.logo code{
	background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 0 / 250px auto;
    height: 62px;
    margin: 40px 0 0;
    position: absolute;
    width: 300px;
}
.header_content {
    height: 100px;
    width: 90%;
}
@media (min-width:789px){
	.header_content {
	    height: 100px;
	    width: 100%;
	}
}
.nav_area{
	display: none;
	left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.logo_trans code{
    background: rgba(0, 0, 0, 0) url("../images/logo_transparent.png") no-repeat scroll 0 0 / 65% auto;
    height: 242px;
    left: 30px;
    position: absolute;
    width: 400px;
}
@media (min-width:789px){
	.logo_trans code{
		background: rgba(0, 0, 0, 0) url("../images/logo_transparent.png") no-repeat scroll 0 0 / 100% auto;
	    height: 384px;
	    left: 80px;
	    position: absolute;
	    width: 400px;
	}
}
.menu_bar {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50px;
}
.menu_list {
    background: #1a1a1a none repeat scroll 0 0;
    border-bottom: 8px solid #000;
    height: 248px;
}
@media (min-width:789px){
	.menu_list {
	    background: #1a1a1a none repeat scroll 0 0;
	    border-bottom: 8px solid #000;
	    height: 427px;
	}
}
.menu_list ul {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 20px 0 0;
    width: 60%;
}
@media (min-width:789px){
	.menu_list ul {
	    float: right;
	    list-style: outside none none;
	    margin: 0;
	    padding: 36px 0 0;
	    width: 60%;
	}
}
.menu_list li {
    line-height: 2;
}
.menu_list a {
    color: #fff;
    font-family: Raleway;
    font-size: 17px;
    font-weight: bold;
}
@media (min-width:789px){
	.menu_list a {
	    color: #fff;
	    font-family: Raleway;
	    font-size: 32px;
	    font-weight: bold;
	}
}
.menu_list a:hover{
	text-decoration: none;
}
.close_font{
	color: #fff;
    font-size: 30px;
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
}
@media (min-width:789px){
	.close_font{
		color: #fff;
	    font-size: 30px;
	    position: absolute;
	    right: 94px;
	    top: 50px;
	    cursor: pointer;
	}
}
.mbl_txt1 {
    color: #000 !important;
    font-family: Raleway !important;
    font-size: 25px !important;
    letter-spacing: 5px;
    margin: 0 !important;
}
@media (min-width:789px){
	.mbl_txt1 {
	    color: #000 !important;
	    font-family: Raleway !important;
	    font-size: 50px !important;
	    letter-spacing: 5px;
	    margin: 0 !important;
	}
}
.mbl_txt1 b {
    color: #000;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 900;
}
@media (min-width:789px){
	.mbl_txt1 b {
	    color: #000;
	    font-family: Raleway;
	    font-size: 55px;
	    font-weight: 900;
	}
}
.mbl_txt2{
	color: #924732 !important;
    font-family: Raleway !important;
    font-size: 35px !important;
    letter-spacing: 5px;
    line-height: 3;
    margin: 0 !important;
}
@media (min-width:789px){
	.mbl_txt2{
		color: #924732 !important;
	    font-family: Raleway !important;
	    font-size: 72px !important;
	    letter-spacing: 5px;
	    line-height: 3;
	    margin: 0 !important;
	}
}
.mbl_txt3{
    color: #000 !important;
    font-family: Raleway !important;
    font-size: 25px !important;
    letter-spacing: 6px;
    line-height: 7.2;
    margin: 0 !important;
}
@media (min-width:789px){
	.mbl_txt3{
		color: #000 !important;
	    font-family: Raleway !important;
	    font-size: 60px !important;
	    letter-spacing: 6px;
	    line-height: 6.2;
	    margin: 0 !important;
	}
}
.mbl_txt4{
	background: #000 none repeat scroll 0 0 !important;
    color: #fff !important;
    font-family: Raleway !important;
    font-size: 16px !important;
    letter-spacing: 5px;
    margin: 0 !important;
    padding: 0 0 0 10px;
    position: absolute;
    top: 176px !important;
    width: 270px !important;
}
@media (min-width:789px){
	.mbl_txt4{
		background: #000 none repeat scroll 0 0 !important;
	    color: #fff !important;
	    font-family: Raleway !important;
	    font-size: 25px !important;
	    letter-spacing: 5px;
	    margin: 0 !important;
	    padding: 0 0 0 10px;
	    position: absolute;
	    top: 294px !important;
	    width: 420px !important;
	}
}
.mbl_txt5{
	color: #000 !important;
    font-family: Raleway !important;
    font-size: 14px !important;
    letter-spacing: 4px;
    line-height: 23;
    margin: 0 !important;
}
@media (min-width:789px){
	.mbl_txt5{
		color: #000 !important;
	    font-family: Raleway !important;
	    font-size: 25px !important;
	    letter-spacing: 4px;
	    line-height: 23;
	    margin: 0 !important;
	}
}
.seo_txt1 {
    color: #000 !important;
    font-family: Raleway !important;
    font-size: 19px !important;
    letter-spacing: 5px;
    margin: 0 !important;
}
@media (min-width:789px){
	.seo_txt1 {
	    color: #000 !important;
	    font-family: Raleway !important;
	    font-size: 40px !important;
	    letter-spacing: 5px;
	    margin: 0 !important;
	}
}
.seo_txt2 {
    color: #924732 !important;
    font-family: Raleway !important;
    font-size: 40px !important;
    letter-spacing: 8px;
    line-height: 2.5;
    margin: 0 !important;
}
@media (min-width:789px){
	.seo_txt2 {
	    color: #924732 !important;
	    font-family: Raleway !important;
	    font-size: 86px !important;
	    letter-spacing: 8px;
	    line-height: 2.5;
	    margin: 0 !important;
	}
}
.seo_txt3 {
    background: #000 none repeat scroll 0 0 !important;
    color: #fff !important;
    font-family: Raleway !important;
    font-size: 17px !important;
    letter-spacing: 5px;
    margin: 0 !important;
    padding: 0 0 0 5px;
    top: 150px !important;
    width: 142px !important;
}
@media (min-width:789px){
	.seo_txt3 {
	    background: #000 none repeat scroll 0 0 !important;
	    color: #fff !important;
	    font-family: Raleway !important;
	    font-size: 25px !important;
	    letter-spacing: 5px;
	    margin: 0 !important;
	    padding: 0 0 0 5px;
	    top: 225px !important;
    	width: 175px !important;
	}
}
.seo_txt4 {
    color: #000 !important;
    font-family: Raleway !important;
    font-size: 15px !important;
    width: 276px !important;
    letter-spacing: 6px;
    margin: 0 !important;
    top: 152px !important;
    text-align: right;
}
@media (min-width:789px){
	.seo_txt4 {
	    color: #000 !important;
	    font-family: Raleway !important;
	    font-size: 42px !important;
	    width: 665px !important;
	    letter-spacing: 9px;
	    margin: 0 !important;
	    top: 214px !important;
	    text-align: center;
	}
}
.web_txt1 {
    color: #000 !important;
    font-family: Raleway !important;
    font-size: 25px !important;
    letter-spacing: 5px;
    margin: 0 !important;
}
@media (min-width:789px){
	.web_txt1 {
	    color: #000 !important;
	    font-family: Raleway !important;
	    font-size: 57px !important;
	    letter-spacing: 5px;
	    margin: 0 !important;
	}
}
.web_txt2 {
    color: #924732 !important;
    font-family: Raleway !important;
    font-size: 35px !important;
    letter-spacing: 8px;
    line-height: 3.7;
    margin: 0 !important;
}
@media (min-width:789px){
	.web_txt2 {
	    color: #924732 !important;
	    font-family: Raleway !important;
	    font-size: 90px !important;
	    letter-spacing: 8px;
	    line-height: 2.7;
	    margin: 0 !important;
	}
}
.web_txt3{
    background: #000 none repeat scroll 0 0 !important;
    height: 30px !important;
    left: 165px !important;
    margin: 0 !important;
    top: 160px !important;
    width: 50px !important;
}
@media (min-width:789px){
	.web_txt3{
		background: #000 none repeat scroll 0 0 !important;
	    height: 30px !important;
	    left: 165px !important;
	    margin: 0 !important;
	    top: 236px !important;
	    width: 50px !important;
	}
}
.web_txt4 {
    color: #000 !important;
    font-family: Raleway !important;
    font-size: 14px !important;
    letter-spacing: 2px;
    margin: 0 !important;
    top: 165px !important;
    width: 320px !important;
    text-align: center;
}
@media (min-width:789px){
	.web_txt4 {
	    color: #000 !important;
	    font-family: Raleway !important;
	    font-size: 27px !important;
	    letter-spacing: 6px;
	    margin: 0 !important;
	    top: 235px !important;
	    width: 545px !important;
	    text-align: center;
	}
}
.da-dots{
	display: none;
}
.logo_section code{
	background: rgba(0, 0, 0, 0) url("../images/logo_transparent.png") no-repeat scroll 0 0 / 100% auto;
    height: 384px;
    right: 0px;
    position: absolute;
    width: 400px;
}
.title_highlight {
    background: transparent none repeat scroll 0 0;
    color: #924732;
    font-family: Raleway;
    font-size: 25px;
}
.title_txt {
    padding: 0 0 0 12px;
}
.paragraph_content {
    color: #000;
    font-family: Raleway;
    line-height: 2;
    width: 100%;
    padding: 20px 10px 10px 20px;
}
@media (min-width:789px){
	.paragraph_content {
	    color: #000;
	    font-family: Raleway;
	    line-height: 2;
	    width: 595px;
	    padding: 20px 10px 10px 20px;
	}
}
.details_btn {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    font-family: Raleway;
    left: 20px;
    padding: 10px;
    position: absolute;
}


/*Added by siva*/

/*Aboutus page css start*/
.about_us {
    background-color: #1a1a1a;
}
.about_us_heading {
    color: #fff;
    /*font-size: 56px;*/
    margin-bottom: 36px;
    margin-left: 15px;
}
.about_us_heading h1{
    font-size: 56px;
    font-family: Raleway;
    font-weight: 900;
}
.about_us_content h5 {
    color: #fff;
    margin-bottom: 2px;
     font-weight: bold;
}
.about_us_content{
    color: #8b8b8b;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}
.service_heading {
    text-align: center;
    color: black;
    font-size: 70px;
}
.about_us_background {
    height: 500px;
}
.background_image {
    background: url('../images/about_us.png') no-repeat;
    height: 460px;
    position: relative;
    top: 58px;
}
.about_us_page {
    padding: 40px 0;
}
@media (min-width:789px){
	.about_us_page {
    	padding: 134px 0;
	}	
}
.image_content {
    bottom: 15px;
    /*left: 42px;*/
    position: absolute;
    color: #fff;
}
#image_achieve {
    font-family: BabasNeueBold;
    font-size: 41px;
    margin: 0;
}
#image_year{
    float: right;
    font-family: BabasNeueBold;
    font-size: 90px;
    margin: 0;
}


/*Media Query for Aboutus page start*/
@media screen and (max-width: 768px) {
.background_image {
    background: rgba(0, 0, 0, 0) url("../images/about_us.png") no-repeat scroll center center / contain ;
    height: 380px;
    position: relative;
    top: 0;
}
.about_us_heading {
    color: #fff;
   /* font-size: 46px;*/
    margin-bottom: 36px;
    margin-left: 15px;
}
.about_us_heading h1{
    font-size: 46px;
}
.image_content {
    bottom: 68px;
    color: #fff;
    left: 0;
    position: absolute;
}
#image_achieve {
    font-size: 20px;
    margin-bottom: 0;
}
#image_year{
    float: right;
    font-size: 30px;
    margin-bottom: 0;
}
.about_us_background {
    height: 396px;
}
}

/*Media Query for Aboutus page end*/

/*Aboutus page css end*/

/*Services page css start*/

h1.services_heading {
    text-align: center;
    font-size: 90px;
    color: #672b1b;
    font-family: Raleway;
    font-weight: 900;
}
.services_paragraph{
    text-align: center;
    font-size: 14px;
    color: #333333;
    font-family: Raleway;
    margin-bottom: 7px;
}
.services_paragraph_quote{
	text-align: center;
    font-size: 14px;
    color: #333333;
    font-family: Raleway;
    margin-bottom: 7px;
    font-style: italic;
}
#Don_adan{
	color: #333333;
    font-weight: 900;
}
.second_row{
    padding: 20px 0 50px;
}
.services_bottom{
    background-color: #672b1b;
    height: 300px;
    padding :40px 0;
}
.services_page{
    padding-top: 70px;
}
.services_content {
    padding-bottom: 40px;
}
.center_image {
    text-align: center;
}
.bottom_image1 {
    background: url('../images/services_image1.png');
    height: 220px;
    background-repeat:no-repeat;
    background-position: center center; 
}
.bottom_image2 {
    background: url('../images/services_image2.png');
    height: 220px;
    background-repeat:no-repeat;
    background-position: center center; 
}
.bottom_image3 {
    background: url('../images/services_image3.png');
    height: 220px;
    background-repeat:no-repeat;
    background-position: center center; 
}
.bottom_image4 {
    background: url('../images/services_image4.png');
    height: 220px;
    background-repeat:no-repeat;
    background-position: center center; 
}
.bottom_image5 {
    background: url('../images/services_image5.png');
    height: 220px;
    background-repeat:no-repeat;
    background-position: center center; 
}
.bottom_image1:hover {
    background: rgba(0, 0, 0, 0) url('../images/web_hover.jpg') no-repeat scroll center center;
    height: 220px;
}
@media (min-width:789px){
	.bottom_image1:hover {
    	background: rgba(0, 0, 0, 0) url('../images/web_hover.jpg') no-repeat scroll 0 0 / 75% auto;
    	height: 220px;
	}	
}
.bottom_image2:hover {
    background: rgba(0, 0, 0, 0) url('../images/commerce_hover.jpg') no-repeat scroll center center;
    height: 220px;
}
@media (min-width:789px){
	.bottom_image2:hover {
	    background: rgba(0, 0, 0, 0) url('../images/commerce_hover.jpg') no-repeat scroll 0 0 / 75% auto;
	    height: 220px;
	}
}
.bottom_image3:hover {
    background: rgba(0, 0, 0, 0) url('../images/mbl_app_hover.jpg') no-repeat scroll center center;
    height: 220px;
}
@media (min-width:789px){
	.bottom_image3:hover {
	    background: rgba(0, 0, 0, 0) url('../images/mbl_app_hover.jpg') no-repeat scroll 0 0 / 75% auto;
	    height: 220px;
	}
}
.bottom_image4:hover {
    background: rgba(0, 0, 0, 0) url("../images/seo_hover.jpg") no-repeat scroll center center;
    height: 220px;
}
@media (min-width:789px){
	.bottom_image4:hover {
	    background: rgba(0, 0, 0, 0) url("../images/seo_hover.jpg") no-repeat scroll 0 0 / 75% auto;
	    height: 220px;
	}
}
.bottom_image5:hover {
    background: rgba(0, 0, 0, 0) url('../images/android_hover.jpg') no-repeat scroll center center;
    height: 220px;
}
@media (min-width:789px){
	.bottom_image5:hover {
	    background: rgba(0, 0, 0, 0) url('../images/android_hover.jpg') no-repeat scroll 0 0 / 75% auto;
	    height: 220px;
	}
}

/*Media Query for Services page start*/

@media screen and (max-width: 768px) {
h1.services_heading {
    color: #672b1b;
    font-family: Raleway;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
.services_bottom {
    background-color: #672b1b;
    height: auto;
}
}

/*Media Query for Services page end*/

/*Services page css end*/

/*Portfolio css start*/

.portfolio {
    background: rgba(0, 0, 0, 0) url("../images/portfolio_bg.png") no-repeat scroll 0 0 / 100% 100%;
    height :1000px; 
}
@media (min-width:789px){
	.portfolio {
	    background: rgba(0, 0, 0, 0) url("../images/portfolio_bg.png") no-repeat scroll 0 0 / 100% 100%;
	    height :768px; 
	}	
}
.portfolio_heading{
    font-size: 98px;
    font-family: Raleway;
    font-weight: 900;
    color: #303030;
}
.portfolio_content1{
    font-size: 42px;
    font-family: Raleway;
    font-weight: normal;
    color: #303030;
}
.portfolio_content2 {
    font-size: 93px;
    font-family: Raleway;
    font-weight: normal;
    color: #924732;
}
.portfolio_content3 {
    font-size: 57px;
    font-family: Raleway;
    font-weight: normal;
    color: #303030;
}
.padding_content {
    padding: 240px 0 152px 147px;
}
.portfolio_content h1 {
    margin: 0;
}
.port_right_img1 code {
    background: rgba(0, 0, 0, 0) url("../images/portfolio_image1.png") no-repeat scroll 0 0 / 100% auto;
    height: 286px;
    position: absolute;
    width: 248px;
   
}
@media (min-width:789px){
    .port_right_img1 code {
        background: rgba(0, 0, 0, 0) url("../images/portfolio_image1.png") no-repeat scroll 0 0 / 100% auto;
        height: 286px;
        position: absolute;
        width: 248px;
         right: 305px;
    }
}
.port_right_img2 code {
    background: rgba(0, 0, 0, 0) url("../images/portfolio_image2.png") no-repeat scroll 0 0 / 100% auto;
    height: 345px;
    position: absolute;
    width: 300px;
    right: 0px;
    top: 313px;
}
@media (min-width:789px){
	.port_right_img2 code {
	    background: rgba(0, 0, 0, 0) url("../images/portfolio_image2.png") no-repeat scroll 0 0 / 100% auto;
	    height: 345px;
	    position: absolute;
	    width: 300px;
	    right: 129px;
	    top: 252px;
	}
}
.port_right_img3 code {
    background: rgba(0, 0, 0, 0) url("../images/portfolio_image3.png") no-repeat scroll 0 0 / 100% auto;
    height: 181px;
    position: absolute;
    width: 156px;
    right: 190px;
    top: 605px;
}
@media (min-width:789px){
	.port_right_img3 code {
	    background: rgba(0, 0, 0, 0) url("../images/portfolio_image3.png") no-repeat scroll 0 0 / 100% auto;
	    height: 181px;
	    position: absolute;
	    width: 156px;
	    right: 351px;
	    top: 527px;
	}
}
.port_right_img2:hover #port_trans2{
    display: block;
}
#port_trans2 {
    background: rgba(225, 225, 225, 0.98) none repeat scroll 0 0;
    height: 171px;
    position: absolute;
    right: 0px;
    top: 388px;
    width: 300px;
    display: none;
}
@media (min-width:789px){
	#port_trans2 {
	    background: rgba(225, 225, 225, 0.98) none repeat scroll 0 0;
	    height: 171px;
	    position: absolute;
	    right: 129px;
	    top: 339px;
	    width: 300px;
	    display: none;
	}
}
#port_trans2::before {
    border-bottom: 90px solid rgba(225, 225, 225, 0.98);
    border-left: 150px solid transparent;
    border-right: 155px solid transparent;
    content: "";
    height: 0;
    left: -2px;
    position: absolute;
    top: -90px;
    width: 0;
}
#port_trans2::after {
    border-left: 153px solid transparent;
    border-right: 151px solid transparent;
    border-top: 91px solid rgba(225, 225, 225, 0.98);
    bottom: -91px;
    content: "";
    height: 0;
    left: -2px;
    position: absolute;
    width: 0;
}
.portfolio_images_holder {
    padding:38px 0px 43px 0px;
}
.port_viewmore {
    font-size: 30px;
    font-family: Raleway;
    font-weight: normal;
    color: #fff;
    background-color: #000;
    margin: 11px 0 0 30px;
    padding: 4px 30px;
}
.clear_both {
    clear: both;
}
.part_trans2_heading{
    font-size: 48px;
    color: #000;
    font-family: Raleway;
    font-weight: bold;
}
.part_trans2_content1 {
    font-size: 14px;
    font-weight: normal;
    font-family: Raleway;
    color: #000;
}
.part_trans2_content {
    left: 32px;
    position: absolute;
    top: 19px;
}

#port_trans1 {
    background: rgba(0, 0, 0, 0.87) none repeat scroll 0 0;
    height: 146px;
    position: absolute;
    top: 109px;
    width: 248px;
    display: none;
    right: 305px;
}
#port_trans1::before {
    border-bottom: 72px solid rgba(0, 0, 0, 0.87);
    border-left: 128px solid transparent;
    border-right: 120px solid transparent;
    content: "";
    height: 0;
    left: -2px;
    position: absolute;
    top: -72px;
    width: 0;
}
#port_trans1::after {
    border-left: 126px solid transparent;
    border-right: 125px solid transparent;
    border-top: 70px solid rgba(0, 0, 0, 0.87);
    bottom: -70px;
    content: "";
    height: 0;
    left: -2px;
    position: absolute;
    width: 0;
}
.part_trans1_heading{
    font-size: 48px;
    color: #fff;
    font-family: Raleway;
    font-weight: bold;
}
.part_trans1_content1{
    color: #fff;
    font-family: Raleway;
    font-weight: normal;
}
.part_trans1_content {
    left: 20px;
    position: absolute;
}
.port_right_img1:hover #port_trans1{
    display: block;
}
#port_trans3 {
    background: rgba(0, 0, 0, 0.89) none repeat scroll 0 0;
    display: none;
    height: 93px;
    position: absolute;
    right: 190px;
    top: 647px;
    width: 155px;
}
@media (min-width:789px){
	#port_trans3 {
	    background: rgba(0, 0, 0, 0.89) none repeat scroll 0 0;
	    height: 93px;
	    position: absolute;
	    right: 352px;
	    top: 571px;
	    width: 155px;
	    display: none;
	}	
}
#port_trans3::before {
    border-bottom: 44px solid rgba(0, 0, 0, 0.89);
    border-left: 80px solid transparent;
    border-right: 78px solid transparent;
    content: "";
    height: 0;
    left: -2px;
    position: absolute;
    top: -44px;
    width: 0;
}
#port_trans3::after {
    border-left: 80px solid transparent;
    border-right: 78px solid transparent;
    border-top: 44px solid rgba(0, 0, 0, 0.89);
    bottom: -44px;
    content: "";
    height: 0;
    left: -2px;
    position: absolute;
    width: 0;
}
.part_trans3_heading {
    font-size: 40px;
    color: #fff;
    font-family: Raleway;
    font-weight: bold;
    margin-top: 0px;
}
.part_trans3_content1{
    color: #fff;
    font-family: Raleway;
    font-weight: normal;
    margin: 0px;
}
.part_trans3_content{
    margin-left: 4px;
}
.port_right_img3:hover #port_trans3{
    display: block;
}


/*Media query for portfolio*/

@media screen and (max-width:768px) {
    .portfolio_heading{
        font-size: 48px;
        font-family: Raleway;
        font-weight: bold;
        color: #303030;
    }
    .padding_content {
        padding: 70px 2px 4px;
    }
    .portfolio_content1 {
        color: #303030;
        font-family: Raleway;
        font-size: 25px;
        font-weight: normal;
    }
    .portfolio_content2 {
        color: #924732;
        font-family: Raleway;
        font-size: 30px;
        font-weight: normal;
    }
    .port_viewmore {
        background-color: #000;
        color: #fff;
        font-family: Raleway;
        font-size: 15px;
        font-weight: normal;
        margin: 2px 0 0 10px;
        padding: 4px 30px;
    }
    .portfolio_content3 {
        color: #303030;
        font-family: Raleway;
        font-size: 25px;
        font-weight: normal;
    }
} 
/*Media query for portfolio end*/

/*portfolio css end*/

/*Our team css start*/

.our_team {
    background-color: #878787;
}
.padding_ourteam{
    padding-top: 76px;
}
.ourteam_heading{
    font-size: 57px;
    color: #fff;
    font-family: Raleway;
    font-weight: 900;
    text-align: center;
    margin-bottom: 25px;
}
@media (min-width:789px){
	.ourteam_heading{
	    font-size: 57px;
	    color: #fff;
	    font-family: Raleway;
	    font-weight: 900;
	    text-align: center;
	    margin-bottom: 60px;
	}
}
.ourteam_content1 {
    font-size: 14px;
    color: #fff;
    font-family: Raleway;
    font-weight: normal;
    text-align: center;
}
.owl-item {
    height: 390px;
}
@media (min-width:789px){
	.owl-item {
    	height: 475px;
	}	
}
.owl-carousel {
    padding: 2px 74px;
    cursor: pointer;
}
@media (min-width:789px){
	.owl-carousel {
	    padding: 55px 74px;
	    cursor: pointer;
	}	
}
.slider_team {
    margin-top: 0px;
}
#item1 {
    background-image: url("../images/portfolio_devi.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item1 {
	    background-image: url("../images/portfolio_devi.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item2 {
    background-image: url("../images/portfolio_deepak.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item2 {
	    background-image: url("../images/portfolio_deepak.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item3 {
    background-image: url("../images/portfolio_sastha.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item3 {
	    background-image: url("../images/portfolio_sastha.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item4 {
  	background-image: url("../images/portfolio_kalai.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item4 {
	  	background-image: url("../images/portfolio_kalai.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item5 {
    background-image: url("../images/portfolio_muthu.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item5 {
	    background-image: url("../images/portfolio_muthu.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item6 {
    background-image: url("../images/portfolio_ramya.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item6 {
	    background-image: url("../images/portfolio_ramya.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item7 {
    background-image: url("../images/portfolio_nithya.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item7 {
	    background-image: url("../images/portfolio_nithya.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item8 {
    background-image: url("../images/portfolio_aasai.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item8 {
	    background-image: url("../images/portfolio_aasai.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
.item h1 {
    color: #fff;
    font-family: Raleway;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 97%;
    width: 220px;
}
@media (min-width:789px){
	.item h1 {
	    color: #fff;
	    font-family: Raleway;
	    font-weight: bold;
	    position: absolute;
	    text-align: center;
	    top: 97%;
	    width: 280px;
	}	
}
.item h4 {
    color: #fff;
    font-family: Raleway;
    font-weight: 900;
    position: absolute;
    text-align: center;
    top: 120%;
    width: 235px;
}
@media (min-width:789px){
	.item h4 {
	    color: #fff;
	    font-family: Raleway;
	    font-weight: 900;
	    position: absolute;
	    text-align: center;
	    top: 120%;
	    width: 290px;
	}
}
#item1:hover {
    background-image: url("../images/devi_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item1:hover {
	    background-image: url("../images/devi_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item2:hover {
    background-image: url("../images/deepak_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item2:hover {
	    background-image: url("../images/deepak_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}	
}
#item3:hover{
    background-image: url("../images/sastha_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item3:hover{
	    background-image: url("../images/sastha_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item4:hover {
    background-image: url("../images/kalai_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item4:hover {
	    background-image: url("../images/kalai_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item5:hover {
    background-image: url("../images/muthu_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item5:hover {
	    background-image: url("../images/muthu_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}	
}
#item6:hover {
    background-image: url("../images/ramya_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item6:hover {
	    background-image: url("../images/ramya_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item7:hover {
    background-image: url("../images/nithya_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item7:hover {
	    background-image: url("../images/nithya_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#item8:hover {
    background-image: url("../images/asai_hover.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 240px;
    position: relative;
    top: 6px;
}
@media (min-width:789px){
	#item8:hover {
	    background-image: url("../images/asai_hover.png");
	    background-repeat: no-repeat;
	    background-size: 100% auto;
	    height: 300px;
	    position: relative;
	    top: 6px;
	    width: 285px;
	}
}
#map{
	width:100%;
	cursor:-moz-grab; 
	cursor:-webkit-grab;
}
.contactus_page {
    position :relative;
}
.contactus_left {
    background : #cccccc;
    position: relative;
    height:150px;
}
@media (min-width:789px){
	.contactus_left {
	    background : #cccccc;
	    position: relative;
	    height:auto;
	}
}
.contactus_right {
    background: rgba(255,255,255,0.9);
    position :relative;
    right:0px;
    top:0px;
}
@media (min-width:789px){
	.contactus_right {
	    background: rgba(255,255,255,0.9);
	    position :absolute;
	    right:0px;
	    top:0px;
	}
}
.contact_technologies{
    padding: 0px;
}
@media (min-width:789px){
	.contact_technologies{
    	padding: 32px 100px 54px 86px;
	}
}
#contact_tech_heading {
    font-size: 25px;
    font-family: Raleway;
    font-weight: 900;
    color: #303030;
    margin-bottom: 24px;
    text-align:center;
}
@media (min-width:789px){
	#contact_tech_heading {
	    font-size: 57px;
	    font-family: Raleway;
	    font-weight: 900;
	    color: #303030;
	    margin-bottom: 60px;
	    text-align:center;
	}
}
.padding_tech_images{
    padding-bottom: 0px;
}
@media (min-width:789px){
	.padding_tech_images{
    	padding-bottom: 35px;
	}
}
.contact_title > h4 {
    color: #333333;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 900;
    line-height: 2;
}
.addr_detail a{
	color: #666666;
    font-family: Raleway;
}
.address p{
	color: #666666;
    font-family: Raleway;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 19px;
}
.telephone1,.telephone2{
	font-family: Arial !important;
}
.telephone2{
	margin :0 0 0 10px;
}
.address_holder{
	padding: 35px 0 0 0px;
	width: 345px;
}
@media (min-width:789px){
	.address_holder{
		padding: 35px 0 0 90px;
		width: 345px;
	}
}
.message{
	padding:0px;
}
@media (min-width:789px){
	.message{
		padding:0px 0 0 90px;
	}
}
.msg_title > h4{
	color: #333333;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 900;
    line-height: 2;
}
.label_txt{
	 font-family: Raleway;
	 font-size: 15px;
	 color:#666666;
	 line-height: 2;
}
.email_box{
	width: 100%;
	height: 35px;
}
@media (min-width:789px){
	.email_box{
		width: 400px;
		height: 35px;
	}
}
.text_area{
	width: 100%;
	height: 100px;
}
@media (min-width:789px){
	.text_area{
		width: 400px;
		height: 180px;
	}
}
.send_btn{
	color:#fff;
	background: #000;
	font-family: Raleway;
	font-size: 15px;
	padding :8px 12px;
	border :medium none;
}
.social_icons > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.social_icons li {
    border: 1px solid #000;
    height: 30px;
    margin: 0 10px 0 0;
    width: 30px;
}
.social_icons a {
    display: block;
    padding: 3px 0;
    text-align: center;
}
.social_icons i{
	color: #000;
	display: block;
	font-size: 20px;
}
.social_icons{
	padding: 18px 0 0;
}
.social_icons > span{
	color: #666666;
	font-family: Raleway;
	font-size: 14px;
	line-height: 3;
}
.copyright{	
	background: #000 none repeat scroll 0 0;
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    line-height: 2.5;
    text-align: center;
}
.da-slide h2 img {
    height: 350px;
    width: 240px;
}
@media (min-width:789px){
	.da-slide h2 img {
	    height: auto;
	    width: auto;
	}
}
.owl-controls{
	display: none;
}
@media (min-width:789px){
	.owl-controls{
		display: block;
	}
}

/*Error message for contactus form*/
#invalid_mail{
    color: #FF0000;
    display: none;
}
#empty_message_box{
    color: #FF0000;
    display: none;
}
#empty_mail {
   color: #FF0000;
   display: none; 
}





/*Logo slider css for Technologies*/

#slider {
    list-style:none;
    padding:0px
}

.slider-container { 
   height: 148px;
   overflow: hidden;
   width: 457px;
}
@media (max-width:789px) {
    .slider-container { 
        height: 108px;
        overflow: hidden;
        width: 296px;
    }
}

#slider img { 
    width:138px; 
    height:125px; 
    margin:0px; 
    display:inline-block  
}
@media (max-width:789px){
    #slider img { 
        display: inline-block;
        height: 54px;
        margin: 0;
        width: 78px;
    }
}
#slider li {
    width: 164px !important;
    text-align: center;
    margin: 20px 0;
}
@media (max-width:789px){
    #slider li {
        width: 85px !important;
        text-align: center;
        margin: 20px 0;
    }
}
#fun_slider {
    color: #fff;
    background :none !important;
}




